
DATABASE_URL=mysql+pymysql://root:123456@localhost:3306/ValidexDB

# Configuración de Seguridad
SECRET_KEY=cambiame_por_una_cadena_muy_segura_en_produccion
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Configuración de Twilio (Credenciales del Líder)
TWILIO_ACCOUNT_SID=ACd79a77d65327e9cc52b9010e9ca93855
TWILIO_AUTH_TOKEN=1438c8627bf71896ef738aec03a31b84
TWILIO_VERIFY_SERVICE_SID=VAXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_PHONE_NUMBER=+526692869325

# Flags de Desarrollo
MOCK_SMS=True
DEBUG_MODE=True
